<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		<script src="/socket.io/socket.io.js"></script>
		
		<script type="text/javascript">var requires_ = {}</script>
		
		{{#coreFiles}}
		<script type="text/javascript" src="{{{src}}}"></script>
		{{/coreFiles}}
		
		<script type="text/javascript" src="engine/main/web/Bindings/CoreService.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Bindings/Counter.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Bindings/Font.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Bindings/GraphicsService.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Bindings/Image.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Bindings/Music.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Bindings/Sample.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Bindings/Sound.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Bindings/SoundService.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Bindings/TimingService.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Bindings/Window.coffee"></script>
		
		<script type="text/javascript" src="engine/main/web/Initialize.coffee"></script>
		<script type="text/javascript" src="engine/main/web/Main.coffee"></script>
	</head>
	
	<body>
	</body>
</html>